# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Nmillard.FeatureToggle.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Developer Space\Projects\example\Nmillard.FeatureToggle\.idea\.idea.Nmillard.FeatureToggle\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
